@import "reset.css"; /*css를 이용해 추가하는게 좋다*/
@import "variable.css";
/* Components */
@import "components/status-bar.css";
@import "components/find-id-modal.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";

/* Screens */
@import "screens/login.css";
@import "screens/signup.css";
@import "screens/friends.css";

body {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--textbase);
  position: relative;
}

.main-screen {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  z-index: 1;
  padding: 0 var(--horizontal-space);
  top: 120px;
}
