.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-size: 7px;
  font-weight: 600;
  color: #fff;
  background-color: var(--notification-text);
  border-radius: 10px;
}

.badge.white {
  color: var(--notification-text);
  background-color: #fff;
  border: 2px solid var(--notification-text);
  border-radius: 20px;
  width: 12px;
  height: 12px;
  font-size: 10px;
  margin-left: 5px;
}
