.more-screen {
  height: 100vh;
}

.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.more-suggestions__icon {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}

.more-suggestions__icon-image svg {
  font-size: 32px;
  color: #ffffff;
}

.more-suggestions__icon-text {
  color: var(--gray);
}
